<%- include('../partials/header') %>

<h1>Edit Skill</h1>
    <form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
        <input name="skill" value="<%= skill.skill %>">

        
        <button type="submit">Save Skill</button>
    </form> 


    
<%- include('../partials/footer') %>