<%- include('../partials/header') %>

<h1>New Skill</h1>
    <form action="/skills" method="POST" autocomplete="off">
        <input name="skill">
        <label>Skill Level:
            <select name="level">
                <option value="Novice">Novice</option>
                <option value="Proficient">Proficient</option>
                <option value="Expert">Expert</option>
            </select>
        </label><br><br>
        <button type="submit" class="btn btn-info btn-sm">Save Skill</button>
    </form> 
    
<%- include('../partials/footer') %>